  <div class="option-panel">
    <span class="panel-btn">
      <i class="fa ion-android-settings fa-spin"></i>
    </span>
    <div class="color-panel">
      <h4>Text Color</h4>
      <span class="color1" onclick="setActiveStyleSheet('color1'); return false;">
        <i></i>
      </span>
      <span class="color2" onclick="setActiveStyleSheet('color2'); return false;">
        <i></i>
      </span>
      <span class="color3" onclick="setActiveStyleSheet('color'); return false;">
        <i></i>
      </span>
      <span class="color4" onclick="setActiveStyleSheet('color4'); return false;">
        <i></i>
      </span>
      <span class="color5" onclick="setActiveStyleSheet('color5'); return false;">
        <i></i>
      </span>
    </div>
  </div>
  <!-- Options Panel -->
  <div class="pg-tp">
    <i class="ion-cube"></i>
    <div class="pr-tp-inr">
      <h4>Profile Page</h4>
      <span>You can easily style a Profile Page.</span>
    </div>
  </div>
  <!-- Page Top -->

  <div class="panel-content">
    <div class="widget pad50-65">
      <div class="profile-wrp">
        <div class="row">
          <div class="col-md-4 col-sm-12 col-lg-4">
            <div class="profile-info-wrp">
              <div class="insta-wrp">
                <span>
                  <img class="brd-rd50" src="images/resource/insta-dp.jpg" alt="" />
                  <span class="sts online"></span>
                </span>
                <div class="insta-inf">
                  <h2>
                    <a href="#" title="">John Smith</a>
                    <i class="fa fa-pencil edit-btn"></i>
                  </h2>
                  <span class="desg">Product Manager
                    <a class="blue-clr" href="#" title="">@GraphicXspace</a>
                  </span>
                  <div class="prf-btns">
                    <a href="#" title="" class="blue-bg brd-rd5">
                      <i class="fa fa-weixin"></i>
                    </a>
                    <a href="#" title="" class="green-bg brd-rd5">
                      <i class="fa fa-envelope-o"></i> Message</a>
                    <a href="#" title="" class="blue-bg brd-rd5">
                      <i class="fa fa-phone"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="usr-abut">
                <h5 class="prf-edit-tl">About Me
                  <i class="fa fa-pencil edit-btn"></i>
                </h5>
                <p>Aenean massa. Cum sociis natoque penatibusm nis dis parturient montes, nascetur ridiculusmus Penatibus et
                  magnis dis parturient montes, nasc etur ridiculus mus.</p>
                <p>Dnim eiusm ni eiusmod high life accusamus terry richardson ad squid. 3 wolfmoon officia.</p>
              </div>
              <div class="usr-gnrl-inf">
                <h5 class="prf-edit-tl">General Info
                  <i class="fa fa-pencil edit-btn"></i>
                </h5>
                <div class="grn-inf-lst">
                  <i class="fa fa-home"></i> Company Name:
                  <span class="green-clr">Mega Stack</span>
                </div>
                <div class="grn-inf-lst">
                  <i class="fa fa-graduation-cap"></i> Position:
                  <span>Product Manager</span>
                </div>
              </div>
              <div class="usr-cnt-inf">
                <h5 class="prf-edit-tl">Contact Information
                  <i class="fa fa-pencil edit-btn"></i>
                </h5>
                <ul class="usr-cnt-inf-lst">
                  <li>
                    <i class="fa fa-home"></i>
                    <strong>Address:</strong>
                    <p>121 King Street, Melbourne Victoria 3000 Australia</p>
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    <strong>Phone:</strong>
                    <p>+461 25 6115 45</p>
                  </li>
                  <li>
                    <i class="fa fa-fax"></i>
                    <strong>Fax:</strong>
                    <p>1234 5678 90</p>
                  </li>
                  <li>
                    <i class="fa fa-envelope"></i>
                    <strong>Email ID:</strong>
                    <p>themextic@gmail.com</p>
                  </li>
                </ul>
              </div>
              <div class="usr-prf">
                <a class="brd-rd5 btn scl-btn2 facebook" href="#" title="">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="brd-rd5 btn scl-btn2 twitter" href="#" title="">
                  <i class="fa fa-twitter"></i>
                </a>
                <a class="brd-rd5 btn scl-btn2 google" href="#" title="">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
          
          <!-- 작업로그 상단바 시작 -->
          <div class="col-md-8 col-sm-8 col-lg-6">
            <div class="usr-actvty-wrp widget pad50-40">
              <h4 class="widget-title">Activity
              </h4>
              <div class="slct-bx">
                <i>Added:</i>
                <span>
                  <select>
                    <option>Any Date</option>
                    <option>15-9-2017</option>
                    <option>12-8-2017</option>
                    <option>08-7-2017</option>
                    <option>10-6-2017</option>
                  </select>
                </span>
              </div>
              
              <!-- 작업로그 상단바 끝 -->
          <hr>
              <!-- 작업 로그 시작-->
              <div class="act-pst">

                  <div class="act-pst-inf">
                    <div class="act-pst-inr">
                      <!--<span class="spnd-tm">5 Min Ago</span>-->
                    <div>

                      <% @job_logs.reverse.each do |log| %>
                      <div>
                        <p><img class="brd-rd50" src="<%= asset_path 'resource/acti-thmb1.jpg' %>" alt="job_log" >&nbsp;&nbsp;&nbsp;
                        <% if log.from == "G" %>
                          <%= log.thing_name %> 갤러리를 <%= log.action %>했습니다. <br>
                          <small>(<%= log.created_at  %>)</small></p>
                        <% elsif log.from == "E" %>
                          <p><%= log.thing_name %> 이모티콘을 <%= log.action %>했습니다. <small><%= log.created_at %></small> </p>
                        <% elsif log.from == "P" %>
                          <p><%= log.thing_name %> 제안서를 <%= log.action %>했습니다. <small><%= log.created_at %></small> </p>
                        <% end %>
                      </div>
                      <% end %>
                      <!--<p><span class="act-pst-lk-stm">-->
                      <!--   <a href="#" title=""><i class="fa fa-times-circle" aria-hidden="true"></i></a>-->
                      <!--  </span>-->
                      <!--<hr> </p>-->
                    </div>
                          
                          
                    
                    <!--<div class="act-pst-lk-stm">-->
                    <!--  <a class="brd-rd5 green-bg-hover" href="#" title="">-->
                    <!--    <i class="ion-heart"></i> Love</a>-->
                    <!--  <a class="brd-rd5 blue-bg-hover" href="#" title="">-->
                    <!--    <i class="ion-thumbsup"></i> Like</a>-->
                    </div>
                  </div>
                </div>
                <hr>
              </div>
              <!--작업로그 -->
                
              <!-- Activity Post List -->
              <div class="vw-mr-act">
                <a href="#" title="">View More Activity</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Panel Content -->
  
    
    <% content_for 'javascript_content' do %>
    
    <% end %>